body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #1e1e1e;
  color: #d4d4d4;
}
h1 {
  color: #569cd6;
  text-align: center;
}
.card {
  background-color: #252526;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#backupBtn {
  background-color: #0e639c;
  color: white;
}
#backupBtn:hover {
  background-color: #1177bb;
}
#restoreBtn {
  background-color: #007acc;
  color: white;
}
#restoreBtn:hover {
  background-color: #1a9fff;
}
.status {
  margin-top: 15px;
  font-size: 14px;
  color: #9cdcfe;
}
#startBackupBtn{
  background-color: green;
  color: #ffffff;
}